* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  padding: 20px;
  border: 2px solid #3498db;
  border-radius: 10px;
  background-color: #5eee9a;
  color: rgb(14, 13, 13);
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s ease;
}

button:hover {
  border: 10px solid #8cc6f5;
  background-color: #3498db;
}

span {
  padding: 10px;
  font-size: 40px;
  display: grid;
  margin: 10px;
  height: 50px;
  display: inline-flex;
}

.Count {
  margin-top: 10px;
  height: 85px;
  width: 300px;
  transition: 0.5s ease;

}

h1 {
  color: #7b60f8;
    transition: 0.5s ease;
    margin: 90px;
    
}
h1:hover{
    background-color: #000000;
    border: 10px solid antiquewhite;
}

h2 {
    color: #ffe44a;
    transition: 0.5s ease;
    margin: 100px;
}

h2:hover {
    background-color: #000000;
    border: 10px solid antiquewhite;
    padding: 40px;
}